<div class="nav">
  <div class="nav-header">
    <div class="logo-wrap center">
      <a href="/">
        <div class="logo">
          <img src="/img/icon/logo.png">
        </div>
      </a>
    </div>
    <div class="title">북 루트</div>
  </div>
  <div class="nav-content"></div>
  <div class="nav-footer">
    <div class="link-button"><a href="/cart"">카트</a></div>
    <div class="link-button"><a href="/search"">책 탐색하기</a></div>
    <div class="link-button"><a href="/write/book"">책 등록하기</a></div>
    <div class=" link-button">
        <a href="<%= loggedIn ? '/profile' : '/login' %>">
          <%= loggedIn ? username : "로그인" %>
        </a>
    </div>
  </div>
</div>