<div class="nav">
  <div class="nav-header"></div>
  <div class="nav-content"></div>
  <div class="nav-footer">
    <div class="link"><%= username %></div>
    <div class="link"><a href="/<%= loginHref %>"><%= loginHref %></a></div>
  </div>
</div>