<% layout('layouts/layout') %>
<form action="/join" method="POST">
  <input type="text" name="username" placeholder="이름">
  <input type="text" name="email" placeholder="이메일">
  <input type="text" name="password" placeholder="비밀번호">
  <input type="submit" value="회원가입"></input>
</form>
<a href="/login">로그인</a>